.navbar {
  display: grid;
  grid-template-areas: "titulo links . usuario";
  grid-template-columns: 3fr 4fr 2fr 1fr;
  padding: 1rem 1.5rem;
  background-color: var(--color-tarjeta);
  border-bottom: 1px solid var(--color-borde);
  align-items: center;
}

.logo {
  grid-area: titulo;
  gap: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-primario);
  text-decoration: none;
}

.links {
  grid-area: links;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.links a {
  color: var(--color-primario);
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  transition: color 0.2s ease;
}

.links a:hover {
  color: var(--color-primario-hover);
}

.botonUsuario {
  grid-area: usuario;
  background-color: var(--color-primario);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  max-height: 40px;
  max-width: 125px;
  text-align: center;
}

.botonUsuario:hover {
  background-color: var(--color-primario-hover);
}

/*media query para celular*/
@media screen and (max-width: 480px) {
  .navbar {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "titulo usuario"
      "links links";
    gap: 1rem;
    padding: 1rem 1rem;
    justify-items: center;
  }

  .logo {
    margin-left: 20px;
    justify-self: left;
  }

  .links a {
    font-size: clamp(1.5vw, 2vw);
  }
}
/*media query para celular apaisado o tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "titulo usuario"
      "links links";
    gap: 1rem;
    padding: 1rem 1rem;
    justify-items: center;
  }

  .logo {
    margin-left: 20px;
    justify-self: left;
    font-size: clamp(1.5rem, 2vw, 3vw);
  }

  .links a {
    font-size: 3vw;
  }
}
