:root{
  --color-primario: #0EA5A4;
  --color-primario-hover: #0F766E;
  --color-primario-highlight: #56d1c1;
  --color-secundario: #F59E0B;
  --color-secundario-highlight: #FEF3C7; 
  --color-fondo: #FFFCEE;
  --color-tarjeta: #FEF8E0;
  --color-texto-principal: #292524;
  --color-texto-secundario: #78716C;
  --color-exito: #14B8A6;
  --color-alertas: #DC2626;
  --color-warning: #F59E0B;
  --color-borde: #E7E5E4;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  min-height: 100vh;
  background-color: var(--color-fondo);
}

h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}
