.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  align-items: start;
  gap: 1.5rem;
  background-color: var(--color-fondo);
}

.main {
  display: grid;
  gap: 0.75rem;
  padding: 0;
}

.contenido {
  display: grid;
  gap: 0.5rem;
}

.titulo {
  font-size: 2rem;
  margin: 0;
  color: var(--color-primario);
}

/*media query para celular*/
@media screen and (max-width: 480px) {
  .layout {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
       grid-template-columns: 1fr;
       grid-template-rows: auto auto 1fr auto;
       gap: 0.75rem;
  }

  .main {
    margin-top: 0;
    padding-top: 0;
  }

  .titulo {
    font-size: 1rem;
  }
}


/*media query para celular apaisado o tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .layout {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
       grid-template-columns: 1fr;
       grid-template-rows: auto auto 1fr auto;
  }

  .titulo{
    font-size: 1rem;
  }
}
