.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  align-items: stretch;
  gap: 1.5rem;
  background-color: var(--color-fondo);
}

.main {
  display: grid;
  gap: 1rem;
}


.titulo{
    font-size: 2rem;
    margin:10px;
    color: var(--color-primario);
}

/*media query para celular*/
@media screen and (max-width: 480px) {
  .layout {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 9fr 1fr;
  }

  .titulo{
    font-size: 1rem;
  }
}


/*media query para celular apaisado o tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .layout {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 9fr 1fr;
  }

  .titulo{
    font-size: 1rem;
  }
}
