.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  grid-template-columns: 1fr 5fr;
  min-height: 100%;
}   

.main {
display: grid;
grid-template-areas:
"card1" "card2" 
"card3" "card4" 
"card5" "card6";
}




